header.slider
   img.slider__img

   nav.navigation
      ul
         li
            a(href='#').navigation__link Home
         li
            a(href='#').navigation__link Машины
         li
            a(href='#').navigation__link Категории
         li
            a(href='#').navigation__link Про сайт
