header.header
   .slider
      img(src='/images/slider/slide1.jpg').slider__img


   .header-wrap
      .my-wrap
         .logo
            a(href='#').logo__link
               p.logo__title Car news
               p.logo__text EVERYTHING ABOUT THE CARS

         nav.navigation
            ul
               li
                  a(href='#').navigation__link
                     p.navigation__title CAR REVIEWS
                     p.navigation__desc LATEST REVIEWS OF CARS
               li
                  a(href='#').navigation__link
                     p.navigation__title Машины
                     p.navigation__desc LATEST REVIEWS OF CARS
               li
                  a(href='#').navigation__link
                     p.navigation__title Категории
                     p.navigation__desc LATEST REVIEWS OF CARS
               li
                  a(href='#').navigation__link
                     p.navigation__title Про сайт
                     p.navigation__desc LATEST REVIEWS OF CARS
