main.main
    .information
        h1.information__h1 NEWS AND RUMORS
        p.information__text Nam non nisl. Phasellus commodo libero ac massa. Nulla euismodm lesuada nibh. Cura bue itur accumsan sem males uada
            | lorem accu msla viverra.Lorem ipsum dolor sit. Integer fauc ibus augue ut lacus. Sed purus neque lacinia acnc
            | lorem tortor pharetra accumsan

    section.main_news
        article.news
            .news__pic
                img(src='/images/slider/slide1.jpg').news__img
            .news__info
                i.fa.fa-camera-retro
                p.news__title MAURIS FAUCIBUS ALIQUET URNA VIVAM LIBERO DUIS NIBH
                p.news__text Nulla euismodm lesuada nibh. Curabitur accumsan sem males uada lorem accun msla viverra. Vestibulum ante ipsu primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras feugiat  In leo elit, mattis non, imperdiet sed at ips sapien. Tollicitudin augue. Phasellus enim mauris feugiat id, luctus ut, aliquam eu justo.
            a(href='#').news__link
                i.fa.fa-camera-retro