main.main
   h1 NEWS AND RUMORS
   p Nam non nisl. Phasellus commodo libero ac massa. Nulla euismodm lesuada nibh. Cura bue itur accumsan sem males uada
      | lorem accu msla viverra.Lorem ipsum dolor sit. Integer fauc ibus augue ut lacus. Sed purus neque lacinia acnc
      | lorem tortor pharetra accumsan

   section.main_news
      article.news
         .news__pic
            img.news__img
         .news__info
             p.news__title aaa
             p.news__text awdawd
         a.news__link
            i.news__point